body {
  font-family: 'Josefin Sans', sans-serif;;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.rel {
  position: relative;
}

.shuffle {
  color: #666;
  cursor: pointer;
  font-size: 18pt;
  &:hover {
    color: #369;
  }
  &.disabled, &.disabled:hover {
    color: #ccc;
    cursor: auto;
  }
}

.word-input, .share {
  font-size: 70px;
  text-align: left;
  .box {
    border-radius: 20px;
    border: dashed 1px #999;
  }
  .bonus {
  }
  .timer {
    color: #ccc;
    &.playing {
      color: black;
    }
  }
}

.word-candidate {
  &.status-too-short, &.status-duplicate { color: #ccc; }
  &.status-empty {
    color: #f8f8f8;
    &.waiting {
      color: #666;
    }
  }
  &.status-good { color: #369; }
}

.share {
  .box {
    border-color: white;
    font-size: 24px;
  }
  .chevron {
    color: #ccc;
    font-size: 70px;
  }
  .coming-soon {
    .fa {
      margin: 0 5px;
    }
  }
  input {
    font-size: 24px;
  }
}

.word-list {
  font-size: 25px;
  .header {
    border-bottom: 1px solid #333;
    color: #333;
    font-weight: bold;
  }
  .no-words {
    color: #ccc;
  }
  .total, .score {
    text-align: right;
  }
}

.word {
  &.valid {
    color: #036;
    .text { cursor: pointer; }
    .bonus {
      color: #369;
    }
  }
  &.invalid { color: #600; text-shadow: 0 0 2px #f66; }
  &.unknown { color: #999; }
}

.definition-list {
  color: #999;
  cursor: pointer;
  font-size: 18px;
  li {
    list-style-type: none;
    .part-of-speech { font-weight: bold; }
  }
}

.fork-me {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}
