body {
  font-family: 'Josefin Sans', sans-serif;;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.rel {
  position: relative;
}

.shuffle {
  color: #666;
  cursor: pointer;
  font-size: 2.5vh;
  margin: 0.5em 0.2em;
  padding: 0;
  text-align: center;
  &:hover {
    color: #369;
  }
  &.disabled, &.disabled:hover {
    color: #ccc;
    cursor: auto;
  }
}
.mobile {
  .shuffle, .timer {
    font-size: 4vh;
    margin: 0.5em 0.2em;
    padding: 0;
  }
  .shuffle {
    text-align: right;
  }
}

.word-input, .share {
  font-size: 5vh;
  text-align: left;
  .box {
    border-radius: 20px;
    border: dashed 1px #999;
  }
  .bonus {
  }
  .timer {
    color: #ccc;
    &.playing {
      color: black;
    }
  }
}
.mobile .share {
  font-size: 4vh;
  input {
    margin-bottom: 0.5em;
  }
}

.cell {
  border-radius: 20px;
  color: #036;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  text-align: center;
  &.hide-letter {
    color: #d0e0f0;
  }
  &.show-letter {
    color: #036;
  }
  &.highlight-tail {
    background-color: rgba(204, 204, 204, 0.3);
    border: dashed 1px rgba(128, 128, 128, 0.5);
    color: #036;
  }
  &.highlight-head {
    background-color: rgba(153, 204, 255, 0.4);
    border: solid 1px #036;
    color: #036;
    &:hover {
      border-color: #369;
      color: #369;
    }
  }
}

.word-candidate {
  &.status-too-short, &.status-duplicate { color: #ccc; }
  &.status-empty {
    color: #f8f8f8;
    &.waiting {
      color: #666;
    }
  }
  &.status-good { color: #369; }
}

.share {
  .box {
    border-color: white;
    font-size: 24px;
  }
  .chevron {
    color: #ccc;
    font-size: 70px;
  }
  .coming-soon {
    .fa {
      margin: 0 5px;
    }
  }
  input {
    font-size: 24px;
  }
}

.word-list {
  font-size: 25px;
  .header {
    border-bottom: 1px solid #333;
    color: #333;
    font-weight: bold;
  }
  .no-words {
    color: #ccc;
  }
  .total, .score {
    text-align: right;
  }
}

.word {
  &.valid {
    color: #036;
    .text { cursor: pointer; }
    .bonus {
      color: #369;
    }
  }
  &.invalid { color: #600; text-shadow: 0 0 2px #f66; }
  &.unknown { color: #999; }
}

.definition-list {
  color: #999;
  cursor: pointer;
  font-size: 18px;
  li {
    list-style-type: none;
    .part-of-speech { font-weight: bold; }
  }
}

.fork-me {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}
