body {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.word-input {
  .box {
    border-radius: 20px;
    border: dashed 1px #999;
    font-size: 70px;
  }
  .bonus {
    font-size: 40px;
  }
}

.word-candidate {
  &.status-too-short, &.status-duplicate { color: #ccc; }
  &.status-empty { color: #f8f8f8; }
  &.status-good { color: #369; }
}

.word-list {
  font-size: 25px;
  .header {
    border-bottom: 1px solid #333;
    color: #333;
    font-weight: bold;
  }
  .no-words {
    color: #ccc;
  }
  .total, .score {
    text-align: right;
  }
}

.word {
  .text, .score { cursor: pointer; }
  &.valid { color: #060; text-shadow: 0 0 2px #6f6; }
  &.invalid { color: #600; text-shadow: 0 0 2px #f66; }
  &.unknown { color: #999; }
}
